.animacion-orange {
  animation-name: glowing-orange
}
.animacion-blue {
  animation-name: glowing-blue;
}
.animacion-red {
  animation-name: glowing-red;
}
.animacion-green {
  animation-name: glowing-green;
}

.animacion-derrota {
  animation: glowing-danger 1500ms infinite, encender-apagar 1500ms steps(2) infinite;
  animation-duration: 1500ms !important;
}

.animacion-correcto {
  animation: glowing-success 1000ms infinite, encender-apagar 1000ms steps(2) infinite;
  animation-duration: 1000ms !important;
}

@keyframes glowing-orange {
  0% {
    background-color: #f2ab1e;
    box-shadow: 0 0 0px #f2ab1e;
  }
  50% {
    background-color: #f0cb11;
    box-shadow: 0 0 5px #f0cb11;
  }
  100% {
    background-color: #f2ab1e;
    box-shadow: 0 0 0px #f2ab1e;
  }
}

@keyframes glowing-blue {
  0% {
    background-color: #1e62d0;
    box-shadow: 0 0 0px #1e62d0;
  }
  50% {
    background-color: #79bcff;
    box-shadow: 0 0 5px #79bcff;
  }
  100% {
    background-color: #1e62d0;
    box-shadow: 0 0 0px #1e62d0;
  }
}

@keyframes glowing-red {
  0% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
  50% {
    background-color: #f24437;
    box-shadow: 0 0 5px #f24437;
  }
  100% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
}

@keyframes glowing-green {
  10% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
  50% {
    background-color: #a4e271;
    box-shadow: 0 0 5px #a4e271;
  }
  100% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
}

@keyframes glowing-danger {
  0% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
  10% {
    background-color: #f24437;
    box-shadow: 0 0 5px #f24437;
  }
  20% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
  30% {
    background-color: #f24437;
    box-shadow: 0 0 5px #f24437;
  }
  40%, 100% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
}

@keyframes glowing-success {
  0% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
  10% {
    background-color: #a4e271;
    box-shadow: 0 0 5px #a4e271;
  }
  20% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
  30% {
    background-color: #a4e271;
    box-shadow: 0 0 5px #a4e271;
  }
  40%, 100% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
}

@keyframes encender-apagar {
  0% {
    opacity: 1;
  }
  40%, 100% {
    opacity: 0.5;
  }
}

.shake-izq {
  animation: shake-i 2s infinite;
}

.shake-der {
  animation: shake-d 2s infinite;
}

@keyframes shake-i {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: translate3d(-1px, 0, 0);
  }
  10%, 20%, 30%, 40%, 100% {
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes shake-d {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  5%, 15%, 25%, 35%, 45% {
    transform: translate3d(1px, 0, 0);
  }
  10%, 20%, 30%, 40%, 100% {
    transform: translate3d(-1px, 0, 0);
  }
}

.animacion-esconder {
  animation: esconder 0s ease-in 1.5s;
  animation-fill-mode: forwards;
}

@keyframes esconder {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.animacion-progreso {
  animation: progreso 1.5s ease-in;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes progreso {
  to {
    border-left-width: 92px;
  }
}