.animacion-orange {
  animation-name: glowing-orange
}
.animacion-blue {
  animation: glowing-blue;
}
.animacion-red {
  animation: glowing-red;
}
.animacion-green {
  animation: glowing-green;
}

@keyframes glowing-orange {
  0% {
    background-color: #f2ab1e;
    box-shadow: 0 0 0px #f2ab1e;
  }
  50% {
    background-color: #f0cb11;
    box-shadow: 0 0 5px #f0cb11;
  }
  100% {
    background-color: #f2ab1e;
    box-shadow: 0 0 0px #f2ab1e;
  }
}

@keyframes glowing-blue {
  0% {
    background-color: #1e62d0;
    box-shadow: 0 0 0px #1e62d0;
  }
  50% {
    background-color: #79bcff;
    box-shadow: 0 0 5px #79bcff;
  }
  100% {
    background-color: #1e62d0;
    box-shadow: 0 0 0px #1e62d0;
  }
}

@keyframes glowing-red {
  0% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
  50% {
    background-color: #f24437;
    box-shadow: 0 0 5px #f24437;
  }
  100% {
    background-color: #c62d1f;
    box-shadow: 0 0 0px #c62d1f;
  }
}

@keyframes glowing-green {
  10% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
  50% {
    background-color: #a4e271;
    box-shadow: 0 0 5px #a4e271;
  }
  100% {
    background-color: #528009;
    box-shadow: 0 0 0px #528009;
  }
}