.animacion-orange:hover {
  animation: glowing-orange 1300ms infinite;
}
.animacion-blue:hover {
  animation: glowing-blue 1300ms infinite;
}
.animacion-red:hover {
  animation: glowing-red 1300ms infinite;
}
.animacion-green:hover {
  animation: glowing-green 1300ms infinite;
}

@keyframes glowing-orange {
  0% {
    background-color: #f2ab1e;
    box-shadow: 0 0 5px #f2ab1e;
  }
  50% {
    background-color: #f0cb11;
    box-shadow: 0 0 20px #f0cb11;
  }
  100% {
    background-color: #f2ab1e;
    box-shadow: 0 0 5px #f2ab1e;
  }
}

@keyframes glowing-blue {
  0% {
    background-color: #1e62d0;
    box-shadow: 0 0 5px #1e62d0;
  }
  50% {
    background-color: #79bcff;
    box-shadow: 0 0 20px #79bcff;
  }
  100% {
    background-color: #1e62d0;
    box-shadow: 0 0 5px #1e62d0;
  }
}

@keyframes glowing-red {
  0% {
    background-color: #c62d1f;
    box-shadow: 0 0 5px #c62d1f;
  }
  50% {
    background-color: #f24437;
    box-shadow: 0 0 20px #f24437;
  }
  100% {
    background-color: #c62d1f;
    box-shadow: 0 0 5px #c62d1f;
  }
}

@keyframes glowing-green {
  0% {
    background-color: #528009;
    box-shadow: 0 0 5px #528009;
  }
  50% {
    background-color: #a4e271;
    box-shadow: 0 0 20px #a4e271;
  }
  100% {
    background-color: #528009;
    box-shadow: 0 0 5px #528009;
  }
}