body {
	flex-direction: column;

	height: 100vh;

	background-color: midnightblue;
}

.centrar {
	display: flex;
	justify-content: center;
	align-items: center;
}

#div-simon {
	position: relative;
	width: 400px;
	height: 400px;

	border-radius: 50%;
	background-color: black;
}

.apagado {
	opacity: 0.5;
}

.pulsador {
	position: absolute;
	width: 50%;
	height: 50%;

	animation-duration: 1000ms;
	animation-timing-function: ease-out;
}

.pulsadorHabilitado:hover {
	opacity: 1;
	cursor:  pointer;
}

.pulsador.orange {
	top: -10px;
	left: -10px;
	background-color: #f2ab1e;
	border-radius: 100% 0 0 0;
}

.pulsadorHabilitado.orange:hover {
	background-color: #f0cb11;
    box-shadow: 0 0 5px #f0cb11;
}

.pulsador.blue {
	top: -10px;
	right: -10px;
	background-color: #1e62d0;
	border-radius: 0 100% 0 0;
}

.pulsadorHabilitado.blue:hover {
	background-color: #79bcff;
    box-shadow: 0 0 5px #79bcff;
}

.pulsador.red {
	bottom: -10px;
	left: -10px;
	background-color: #c62d1f;
	border-radius: 0 0 0 100%;
}

.pulsadorHabilitado.red:hover {
	background-color: #f24437;
    box-shadow: 0 0 5px #f24437;
}

.pulsador.green {
	bottom: -10px;
	right: -10px;
	background-color: #528009;
	border-radius: 0 0 100% 0;
}

.pulsadorHabilitado.green:hover {
	background-color: #a4e271;
    box-shadow: 0 0 5px #a4e271;
}

#centro {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 25%;
	left: 25%;
	border-radius: 50%;

	background-color: black;
}

#panel {
	border-radius: 50%;
	width: 80%;
	height: 80%;

	background-color: white;
}